.education-page {
  padding: 2rem;
  margin-top: 30px;
}

.education-list {
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
  flex-wrap: wrap; 
  margin-top: 30px;
  justify-content: center;
}

.education-card {
  width: 100%;
  max-width: 330px;
  border-radius: 12px;
  overflow: hidden;
  background: #111;
  color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-card:hover {
  transform: translateY(-5px);
}

.education-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: #fff;
}

.education-info h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  margin: 10px;
}

.education-info p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #c2c2c2;
  margin: 20px;
}
.education-info a {
  display: inline-block;
  margin-top: 0.8rem;
  color: #ff4c4c;
  text-decoration: none;
  font-weight: bold;
}








/* modal css */
.education-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999000;
}

.education-modal {
  background: #111;
  color: white;
  border-radius: 12px;
  width: 80%;
  max-width: 1200px;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: zoomIn 0.3s ease;
}


.modal-image {
  flex: 6;
  overflow: hidden;
}

.modal-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal-content {
  flex: 4;
  padding: 2rem;
  overflow-y: auto;
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #c7c7c7;
}

.modal-tech {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-badge {
  background: #292929;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  margin-top: 10px;
}

.modal-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background: #fff;
  color: #111;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
}


@keyframes zoomIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}